@font-face {
	font-family: "Pokemon";
	src: url("font/pokemon_gb.ttf");
}

body {
	font-family: Pokemon, Verdana, Tahoma, monospace;
}

.card {  /* override Bootstrap card border for more original GB Pkmn style */
	border: 6px double black;
}

table img { width: 60px; }

ul {
	list-style-image: url("img/pokeball-bullet-point.png");
}

.jumbotron {  /* general code to allow for full-width background images with text on top (hero) */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

/* individual section background images below */
.day-1 {background-image: url("img/heros/banner.jpg");}

.day-2 {background-image: url("img/heros/banner.png");}

.day-3 {background-image: url("img/heros/RC_marina.jpg");}

.day-4 {background-image: url("img/heros/");}
