* {
	box-sizing: border-box;
}

body {
	max-width: 1000px;
	margin: auto;
	text-align: center;
}

h1 {
	font-size: 40px;
}

.map {
	border: 5px solid black;
}

/*table,*/
th,
td {
    border: 1px solid black;
    padding: 5px;
}

.time {
	font-style: italic;
}

.thoughts,
.stats {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.note {
	flex-basis: 40%;
	margin: 20px;
}

.banner {
	max-width: 1000px;
	width: auto;
	height: auto;
}